main section.sns {
  display: flex;
  margin: 1rem 0;
}

main section.sns > a {
  display: block;
  margin-right: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #0003;
  border-radius: 0.5rem;
  text-decoration: none;
}

main section.sns > a:hover {
  border: 1px solid #000A;
}

main h2 {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

main h2 ~ * {
  padding-left: 1rem;
}

main h2 ~ h2 {
  padding-left: 0;
}

main h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}

main h3 ~ * {
  padding-left: 2rem;
}

main h3 ~ h3 {
  padding-left: 1rem;
}

main h4 {
  margin-top: 1rem;
  margin-bottom: 0;
  line-height: 2rem;
}

main h4 ~ * {
  padding-left: 3rem;
}

main h4 ~ h4 {
  padding-left: 2rem;
}

main p {
  margin: 1rem 0;
}

main ul {
  margin: 0;
}
