@import url('https://rsms.me/inter/inter.css');

html {
  color: #000C;
}

header {
  margin-bottom: 3rem;
  font-family: 'Inter', sans-serif;
}

header > div.inner {
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

header > div.inner h1 {
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: bold;
}

header > div.inner > a {
  margin-left: 1rem;
}

main > div.inner {
  padding: 0 1rem;
}

p {
  line-height: 2rem;
}

img {
  height: auto;
  width: 100%;
}

time {
  font-family: 'Inter', sans-serif;
}

/* inline-blockにして、行末に付けられたらベストかも？（上手く行の中心にできない） */

a.unread-marker {
  display: flex;
  align-items: center;
}

a.unread-marker::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: auto;
  flex-shrink: 0;
  border-radius: 50%;
  background: #0077C8;
}

a.unread-marker:visited::after {
  background: #FFF;
}

@media (min-width: 960px) {
  header > div.inner h1 {
    font-size: 1.25rem;
  }

  header > div.inner {
    margin: 0 auto;
    width: 960px;
  }

  main > div.inner {
    margin: 0 auto;
    width: 960px;
  }
}
