main h1 {
  margin: 3rem 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
}

main h2 {
  margin: 2.5rem 0 -1rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2.25rem;
}

main h3 {
  margin: 2rem 0 -1rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2.125rem;
}

main h4 {
  margin: 2rem 0 -1rem;
  font-weight: bold;
}

main p {
  margin: 2rem 0 2rem;
  line-height: 2rem;
}

main p.warn {
  padding: 1rem;
  background: #fff8e1;
}

main strong {
  font-weight: bold;
}

main ruby > rt {
  font-size: 50%;
  line-height: 1;
}

main a {
  text-decoration: underline;
}

main a:hover {
  text-decoration: none;
}

main p code, main ul code, main ol code {
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0.25rem 0.375rem;
  font: 0.875rem / 1 monospace;
  background: #3331;
  border-radius: 0.125rem;
  position: relative;
  bottom: 0.0625rem;
}

main ol, main ul {
  margin: 2rem 0 2rem;
  counter-reset: item;
}

main li {
  line-height: 2rem;
}

main ol > li::before {
  counter-increment: item;
  content: counter(item)".";
  display: inline-block;
  margin-right: 0.75rem;
}

main ul > li::before {
  content: "-";
  display: inline-block;
  margin-right: 0.75rem;
}

main li ol, main li ul {
  margin: 0;
  padding-left: 2rem;
}

main table {
  margin: 2rem 0;
  border-collapse: collapse;
}

main table td,
main table th {
  padding: 0.5rem 1rem;
  border: 1px solid #0003;
}

main blockquote {
  border-left: 0.25rem solid #0003;
  padding-left: 1rem;
}

main pre {
  margin: 2rem 0 2rem;
}

main pre > code {
  display: block;
  width: 100%;
  padding: 1rem;
  font: 0.875rem / 1.25rem monospace;
  background: #3331;
  overflow-x: scroll;
}

main div.twitter-tweet {
  margin: 2rem auto 2rem;
}

main section.share > a:hover {
  border: 1px solid #000A;
}

@media (min-width: 960px) {
  main h1 {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }

  main h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  main h3 {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}