<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{ .Site.BaseURL }}assets/fonts/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ .Site.BaseURL }}assets/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/null-2.4.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/common.css">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}assets/favicon.svg" type="image/svg+xml">
    {{ block "additional_headers" . }} <!-- Additional Headers --> {{ end }}
    <title>{{ if not .IsHome -}} {{- .Page.Title }} - {{ end  -}} {{- .Site.Title }}</title>
    <!-- Description -->
    {{ if .IsHome }}
      <meta name="description" content="覚道 健太郎 = Kakudo Kentaro is a Undergraduate Student & Software Engineer.">
      <meta property="og:description" content="覚道 健太郎 = Kakudo Kentaro is a Undergraduate Student & Software Engineer." />
    {{ else }}
      {{ if .Description }}
        <meta name="description" content="{{ .Description }}">
        <meta property="og:description" content="{{ .Description }}" />
      {{ end }}
    {{ end }}
    <!-- OGP -->
    <meta property="og:title" content="{{ if not .IsHome -}} {{- .Page.Title }} - {{ end  -}} {{- .Site.Title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@kakudo415">
  </head>
  <body>
    <header>
      <div class="inner">
        <h1>
          <a href="{{ .Site.BaseURL }}">Kakudo Kentaro</a>
        </h1>
        <a href="{{ .Site.BaseURL }}blog/">Blog</a>
        <a href="{{ .Site.BaseURL }}about/">About</a>
      </div>
    </header>
    <main>
      <div class="inner">
        {{ block "main" . }} <!-- Main Contents --> {{ end }}
      </div>  
    </main>
  </body>
</html>
