<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/list.css">
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <div class="inner">
        {{ $blog := where .Site.RegularPages "Section" "blog" }}
        {{ range $blog.GroupByDate "2006" }}
          <section class="yearly">
            <h2>{{ .Key }}</h2>
            {{ range .Pages.GroupByDate "01"}}
              <section class="monthly">
                <h3>{{ .Key }}</h3>
                {{ range .Pages }}
                  <a href="{{ .Permalink }}" class="post">
                    <h4>{{ .Title }}</h2>
                    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
                  </a>
                {{ end }}
              </section>
            {{ end }}
          </section>
        {{ end }}
      </div>  
    </main>
  </body>
</html>