{{ define "additional_headers" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/document.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/single.css">
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: false });
    await mermaid.run({
      querySelector: 'pre > code.language-mermaid', // GitHub Flavored Markdownに合わせる
    });
  </script>  
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02 15:04" }}</time>
  <ul class="tags">
  {{ range .Params.tags }}
    <li><a href="{{ $.Site.BaseURL }}blog/tags/{{ . | urlize}}/">{{ . }}</a></li>
  {{ end }}
  </ul>
  {{ .Content }}
  <section class="share">
    <div>Share on</div>
    <a href="https://twitter.com/intent/tweet?text={{ .Page.Title }} - {{ .Site.Title }}&url={{ .Permalink }}" rel="nofollow noopener noreferrer" target="_blank">Twitter</a>
  </section>
{{ end }}
