main {
  font-family: 'Inter', sans-serif;
}

main h2 {
  margin-bottom: 0;
}

main h2 ~ * {
  padding-left: 1rem;
}

main h2 ~ h2 {
  padding-left: 0;
}

main h3 {
  margin-bottom: 0;
}

main h3 ~ * {
  padding-left: 2rem;
}

main h3 ~ h3 {
  padding-left: 1rem;
}

main h4 {
  margin-bottom: 0;
}

main h4 ~ * {
  padding-left: 3rem;
}

main h4 ~ h4 {
  padding-left: 2rem;
}

main p {
  margin: 1rem 0;
}

main ul {
  margin: 1rem 0;
}
