main h1 {
  margin: 3rem 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
}

main h2 {
  margin: 2.5rem 0 -1rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2.25rem;
}

main h3 {
  margin: 2rem 0 -1rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2.125rem;
}

main p {
  margin: 2rem 0 2rem;
  line-height: 2rem;
}

main p.warn {
  padding: 1rem;
  background: #fff8e1;
}

main strong {
  font-weight: bold;
}

main a {
  text-decoration: underline;
}

main a:hover {
  text-decoration: none;
}

main code {
  padding: 0.25rem 0.375rem;
  font: 0.875rem monospace;
  background: #3331;
  border-radius: 0.125rem;
}

main ul {
  margin: 2rem 0 2rem;
}

main li {
  line-height: 2rem;
}

main ul > li::before {
  content: "-";
  display: inline-block;
  margin-right: 0.75rem;
}

main blockquote {
  border-left: 0.25rem solid #0003;
  padding-left: 1rem;
}

main pre {
  margin: 2rem 0 2rem;
}

main pre > code {
  display: block;
  width: 100%;
  padding: 1rem;
  font: 0.875rem monospace;
  line-height: 1.25rem;
}

main section.share > a:hover {
  border: 1px solid #000A;
}

@media (min-width: 960px) {
  main h1 {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }
  
  main h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  
  main h3 {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}
