/* Self Introduction */

section.introduction {
  margin-bottom: 4rem;
}

section.introduction p {
  margin-bottom: 0.5rem;
}

section.introduction a {
  text-decoration: underline;
}
section.introduction a:hover {
  text-decoration: none;
}

/* Recent Posts */

section.recent-posts > a.post {
  display: block;
  margin-bottom: 3rem;
}

section.recent-posts > a.post > h2 {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2rem;
}

section.recent-posts > a.post > time {
  display: block;
  font-size: 0.875rem;
  color: #000A;
}

@media (min-width: 960px) {
  section.recent-posts > a.post > h2 {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
  }
}
