div.inner.profile > div {
  padding: 1rem 1rem;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-header img {
  margin-right: 1rem;
  width: 2.5rem;
  border-radius: 50%;
}

.latest-posts > div {
  padding: 1rem 1rem;
}

.latest-posts > div h2 {
  margin-bottom: 0.75rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.latest-posts > div time {
  display: block;
  font-size: 0.875rem;
  color: #000A;
}

a.readmore {
  text-decoration: underline;
}

a.readmore:hover {
  text-decoration: none;
}
