main ul.tags {
  margin: 1rem 0 2.5rem;
  color: #000A;
}

main ul.tags li {
  display: inline-block;
  margin-right: 0.5rem;
  line-height: 1.5rem;
}

main ul.tags li a {
  text-decoration: none;
}

main ul.tags li a::before {
  content: "#";
  display: inline-block;
  margin-right: 0.125rem;
}

main ul.tags li a:hover {
  color: #000C;
}

main ul.tags li::before {
  display: none;
}

main time {
  margin: 0 0 1rem;
  display: block;
  font-size: 0.875rem;
  color: #000A;
}

main section.share {
  margin: 3rem 0 2rem;
  display: flex;
  align-items: center;
}

main section.share > div {
  margin-right: 0.75rem;
  padding: 0.5rem 0;
}

main section.share > a {
  margin-right: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #0003;
  border-radius: 0.5rem;
  text-decoration: none;
}

main section.share > a:hover {
  border: 1px solid #000A;
}

@media (min-width: 960px) {
  main time {
    font-size: 1rem;
  }
}
