main time {
  margin: 0 0 3rem;
  display: block;
  font-size: 0.875rem;
  color: #000A;
}

main section.share {
  margin: 3rem 0 2rem;
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

main section.share > div {
  margin-right: 1rem;
  padding: 0.5rem 0;
}

main section.share > a {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #0003;
  border-radius: 1rem;
  text-decoration: none;
}

main section.share > a:hover {
  border: 1px solid #000A;
}

@media (min-width: 960px) {
  main time {
    font-size: 1rem;
  }
}
