{{ define "additional_headers" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/index.css">
{{ end }}

{{ define "main" }}
  <section class="introduction">
    <p>こんにちは！大学で数学とコンパイラについて学んでいます！</p>
    <p>Hello! I study Mathematics and currently learning about compilers at university!</p>
    <p><a href="/about/">僕について・About Me</a></p>
  </section>
  <section class="recent-posts">
    <!-- 投稿が大量になるまでは、トップページでも全件表示。 -->
    {{ $blog := where .Site.RegularPages "Section" "blog" }}
    {{ $recent := first 5 $blog }}
    {{ range $blog }}
      <article>
        <h2><a href="{{ .Permalink }}" class="unread-marker">{{ .Title }}</a></h2>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      </article>
    {{ end }}
  </section>
{{ end }}
