html {
  color: #000C;
}

header {
  background: #FFFF;
  border-bottom: 1px solid #0001;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
}

header > div.inner {
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

header > div.inner h1 {
  font-weight: bold;
}

main {
  margin-top: 3rem;
}

p {
  line-height: 1.5rem;
}
