<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/assets/css/list.css">
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      {{ $blog := where .Site.RegularPages "Section" "blog" }}
      {{ range $blog.GroupByDate "2006" }}
        <div class="inner">
          <h2>{{ .Key }}</h2>
          {{ range .Pages.GroupByDate "01"}}
            <h3>{{ .Key }}</h3>
            {{ range .Pages }}
              <div>
                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
              </div>
            {{ end }}
          {{ end }}
        </div>  
      {{ end }}
    </main>
  </body>
</html>